.logo-link {
    margin: 1rem;
}
p{
    font-weight: 500;
    max-width: 75vw;
    text-align: center;
}
.work-pics{
    max-width: 270px;
    height: auto;
    border-radius: 10px;

}
.photo-cap {
    font-size: xx-small;
    margin: 5px;
    padding-bottom: 10px;
}
#mu{
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}
.api-links {
    margin-top: 0em;
    margin-bottom: 0em;
}

h5 {
    max-width: 75vw;
}
.pics-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}